<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Опрос {{questionnaire.id}}</title>
    </head>
    <body>
        <h1>{{questionnaire.name}}</h1>

        <form name="voting" method="post" action="{% url 'questionnaire' questionnaire.id %}">
            {% csrf_token %}
            {% for form in forms %}
                {{form}}
            {% endfor %}
            </br>
            <input type="submit" id="word_submit">
        </form>

    </body>
</html>
