<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Опросы</title>
    </head>
    <body>
        <h1>Текущие опросы</h1>
        {% for questionnaire in questionnaire_list %}
            <a href="{% url 'questionnaire'  questionnaire.id %}"><b>{{questionnaire.name}}</b></a>
            <p>{{questionnaire.description}}</p>
        {% endfor %}
    </body>
</html>
