<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Результаты опросов</title>
    </head>
    <body>
        <h2>Пройденные опросы</h2>
        {% for questionnaire in user_questionnaires %}
            <p><b>{{questionnaire.questionnaire.name}}</b></p>
            {{questionnaire.answer}}
        {% endfor %}
    </body>
</html>
